*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
    
}

.container{
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 55vh;
    width: 45vh;
}

form{
    margin: 2rem 0 2rem 0;
}

form button,select,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

input{
    border: 2px solid gray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 5px;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-container img{
    height: 1.75rem;
    width: 1.75rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 5px;
    border: 2px solid grey;
}
i {
    margin-top: 4rem;
}

.msg-container{
    margin-top: 2rem;
}

button{
    margin-top: 2rem;
    height: 3rem;
    font-size: medium;
    background: #0384fc;
}